.btn {
   font-family: $roboto;
   font-weight: 700;
   box-shadow: 0 0 0 transparent;
   padding-top: .75rem;
   padding-bottom: .75rem;

   &:hover, &:active, &:focus {
      color: $brand-color;
      box-shadow: 0 0 0 transparent;
   }
   &:hover {
      cursor: pointer;
      opacity: 0.6;
      text-decoration: none;
   }
}

.btn-primary {
   background-color: $brand-color;
   border-color: $brand-color;
   color: white;
   &:hover, &:active, &:focus {
      background-color: $brand-color;
      border-color: $brand-color;
      color: white;
   }
}

footer .btn {
   margin-top: $padding-lg / 4;
   padding-left: 6rem;
   padding-right: 6rem;
}
